---
import Badge from "@components/Badge.astro";
import SocialPill from "@components/SocialPill.astro";

import GitHub from "@icons/GitHub.astro";
import LinkedIn from "@icons/LinkedIn.astro";

import { PROFILE_DATA } from "@config/constants";

const {
  names: { firstName, lastName, callName },
  titles,
  socialMedia: { github, linkedin },
} = PROFILE_DATA;
const personalImageAlt = `Foto de ${firstName} ${lastName}`;

const formatter = new Intl.ListFormat("en", {
  style: "long",
  type: "conjunction",
});
const formatedTitles = formatter.format(titles);
---

<div class="max-w-xl">
  <div class="flex gap-4">
    <img
      class="size-16 rounded-full shadow-lg"
      src="/fab.webp"
      alt={personalImageAlt}
    />
    <a
      href={linkedin}
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>

  <h1
    class="mt-4 text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hey, soy {callName}
  </h1>

  <p
    class="mt-6 text-pretty text-xl text-gray-800 dark:text-gray-300 [&>strong]:font-semibold [&>strong]:text-red-500 dark:[&>strong]:text-red-200"
  >
    +3 años de experiencia.
    <strong> {formatedTitles} </strong>
    de Perú 🇵🇪. Especializado en
    <span class="font-medium text-[#42b883]">Vue.js</span>
    para frontend y
    <span class="font-medium text-[#68A063]">Node.js</span>
    para backend.
  </p>

  <nav class="mt-8 flex flex-wrap gap-4">
    <SocialPill href={github}>
      <GitHub class="size-4" />
      GitHub
    </SocialPill>

    <SocialPill href={linkedin}>
      <LinkedIn class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>
