---
import Technology from "@components/Technology.astro";

interface Props {
  description: string;
  imageDirectory: string;
  link?: string;
  reverse?: boolean;
  title: string;
  technologies: {
    name: string;
    class: string;
    icon: any;
  }[];
}

const { description, imageDirectory, link, reverse, title, technologies } =
  Astro.props;

const imageBasePath = `/projects/${imageDirectory}`;
const buildImage = (size: string = "default") =>
  `${imageBasePath}/${size}.webp`;
const images = {
  src: buildImage(),
  srcSet: [
    `${buildImage("sm")} 640w`,
    `${buildImage("md")} 368w`,
    `${buildImage("lg")} 512w`,
  ],
  sizes: "(max-width: 640px) 640px, (max-width: 1024px) 368px, 512px",
};
const projectAlt = `Capture of the ${title} website`;
const rowClass = reverse ? "sm:flex-row-reverse" : "sm:flex-row";
const imageClass = reverse ? "start-14" : "end-14";
const imageHoverClass = reverse
  ? "[&:hover>img]:-translate-x-4"
  : "[&:hover>img]:translate-x-4";
---

<article class:list={[`flex flex-col gap-4 sm:items-start sm:gap-8`, rowClass]}>
  <figure
    class:list={[
      "relative aspect-video overflow-hidden rounded-md bg-[#2459fc] bg-[url('/background/light.webp')] bg-cover bg-left-top sm:w-1/2 dark:bg-[#2e36cc] dark:bg-[url('/background/dark.webp')] [&:hover>img]:-translate-y-4",
      imageHoverClass,
    ]}
  >
    <img
      src={images.src}
      srcset={images.srcSet.join(", ")}
      sizes={images.sizes}
      alt={projectAlt}
      class:list={[
        "absolute top-14 w-full object-cover drop-shadow-2xl transition-transform duration-500 ease-in-out hover:duration-300",
        imageClass,
      ]}
      loading="lazy"
    />
  </figure>

  <div class="space-y-6 sm:w-1/2">
    <header>
      <h3 class="text-2xl font-bold">{title}</h3>

      <ul class="mt-3 flex flex-row flex-wrap gap-2">
        {
          technologies.map(({ name, class: techClass, icon }) => (
            <li>
              <Technology class:list={techClass} label={name} icon={icon} />
            </li>
          ))
        }
      </ul>
    </header>

    <p>
      {description}
    </p>

    <footer>
      {
        link && (
          <a
            href={link}
            target="_blank"
            rel="noopener noreferrer"
            class="text-accent-800 hover:text-accent-900 hover:underline dark:text-accent-400 dark:hover:text-accent-500"
          >
            Visita el sitio web
          </a>
        )
      }
    </footer>
  </div>
</article>
