---
interface Props {
  description: string;
  image: string;
  link?: string;
  reverse?: boolean;
  title: string;
  technologies: {
    name: string;
    class: string;
    icon: any;
  }[];
}

const { description, image, link, reverse, title, technologies } = Astro.props;

const projectUrl = `/projects/${image}`;
const projectAlt = `Capture of the ${title} website`;
const rowClass = reverse ? "md:flex-row-reverse" : "md:flex-row";
const imageClass = `${reverse ? "start" : "end"}-14`;
const imageHoverClass = ` [&:hover>img]:${reverse ? "-" : ""}translate-x-4`;
---

<article class:list={[`flex flex-col gap-4 md:gap-8`, rowClass]}>
  <div
    class:list={[
      "relative aspect-video w-1/2 overflow-hidden rounded-md bg-red-500 bg-[url('/background/light.webp')] bg-cover bg-left-top dark:bg-[url('/background/dark.webp')] [&:hover>img]:-translate-y-4",
      imageHoverClass,
    ]}
  >
    <img
      src={projectUrl}
      alt={projectAlt}
      class:list={[
        "absolute top-14 w-full object-cover drop-shadow-2xl transition-transform duration-500 ease-in-out hover:duration-300",
        imageClass,
      ]}
      loading="lazy"
    />
  </div>

  <div class="flex-1 space-y-6">
    <header>
      <h3 class="text-2xl font-bold">{title}</h3>
      <ul class="mt-3 flex flex-row gap-x-2">
        {
          technologies.map(({ name, class: techClass, icon: Icon }) => (
            <li>
              <span
                class:list={[
                  "flex items-center gap-x-2 rounded-full px-2 py-1 text-xs",
                  techClass,
                ]}
              >
                <Icon class="size-3" />
                {name}
              </span>
            </li>
          ))
        }
      </ul>
    </header>

    <p>
      {description}
    </p>

    <footer>
      {
        link && (
          <a
            href={link}
            target="_blank"
            rel="noopener noreferrer"
            class="text-pink-400 hover:text-pink-500 hover:underline"
          >
            Visit the website
          </a>
        )
      }
    </footer>
  </div>
</article>
