---
import "@fontsource-variable/onest";

import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
interface Props {
  title: string;
  description: string;
}

const { currentLocale } = Astro;
const { title, description } = Astro.props;

const previewUrl =
  currentLocale === "en" ? "/preview_en.webp" : "/preview.webp";
const url = "https://fabos.dev";
---

<!doctype html>
<html lang={currentLocale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- HTML Meta Tags -->
    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content={url} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={previewUrl} />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content={url} />
    <meta property="twitter:url" content={url} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={previewUrl} />

    <!-- Theme Color -->
    <meta
      name="theme-color"
      content="#ffffff"
      media="(prefers-color-scheme: light)"
    />
    <meta
      name="theme-color"
      content="#020617"
      media="(prefers-color-scheme: dark)"
    />
  </head>
  <body class="bg-light dark:bg-dark text-neutral-700 dark:text-neutral-100">
    <Header />

    <div
      class="fixed inset-0 z-[-1] bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)]"
    >
    </div>
    <slot />

    <Footer />
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
    scroll-behavior: smooth;
    font-family: "Onest Variable", system-ui, sans-serif;

    @media (prefers-reduced-motion: reduce) {
      scroll-behavior: auto;
    }
  }
</style>
